{% extends 'base.html' %}

{% block content %}

<div class="container col-md-4 py-5 text-center ">
    <div class="display-5"><span>Login</span></div>
    <form method="post">
        {% csrf_token %}
        <section class="w-100 p-4 d-flex justify-content-center pb-4">
            <div class="form-group mb-3 py-4">
                {% for message in messages %}
                {% if message %}
                <div class="alert alert-{{ message.tags }}" role="alert">
                    {{ message }}
                </div>
                {% endif %}
                {% endfor %}
                <div class="form-outline mb-4">
                    <input type="username" placeholder="Username" name="username" required class="form-control" />
                </div>
                <div class="form-outline mb-4">
                    <input type="password" placeholder="Password" name="password" required class="form-control" />
                </div>
                <a href="/sign_up">Register</a>
                <br />
                <input type="submit" class="btn btn-primary mt-4" value="Login" />
            </div>
        </section>
    </form>
</div>

{% endblock %}