{% extends 'base.html' %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <h1 class="text-center">Update Passwords</h1>

        <div class="d-flex justify-content-center align-items-center text-center">
            <form action="" method="post">
                {% csrf_token %}
                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="name" name="name" placeholder="name" required>
                    <label for="name">Name</label>
                </div>

                <div class="form-floating mb-2">
                    <input type="url" class="form-control" id="url" name="url" placeholder="url" required>
                    <label for="url">Url</label>
                </div>

                <div class="form-floating mb-2">
                    <input type="text" class="form-control" id="username" name="username" placeholder="username"
                        required>
                    <label for="username">Username</label>
                </div>

                <div class="form-floating">
                    <input type="password" class="form-control" id="password" name="password" placeholder="password">
                    <label for="password">Password</label>
                </div>

                <button type="submit" class="btn btn-primary mt-2">Submit</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}